.relatedWrap {
  padding: 30px 100px;
  display: flex;
  width: 100%;
  gap: 20px;
  flex-flow: column;
}
.viewPoint {
  display: flex;
  flex-flow: column;
}
.relatedWrap h3 {
  margin: 0;
}
.pinCode,
.location {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.pinCode h2,
.pinCode span,
.location h2,
.location span {
  font-size: 12px;
  margin: 0;
  color: #646464;
}
.rBlog {
  display: flex;
  flex-flow: column;

  justify-content: space-between;
}
.blog {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  height: 280px;
  display: flex;
  flex-flow: column;
  gap: 10px;
  border-radius: 4px;
}
.blogImg {
  position: relative;
  height: 190px;
}
.blogWrap {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;

  gap: 15px;
}
.blog p {
  margin: 5px 0;
}
.blog h4 {
  font-size: 16px;
  line-height: 20px;
}
.blog span {
  display: flex;
  gap: 10px;
}
@media (max-width: 1281px) {
  .relatedWrap {
    padding: 30px 80px;
  }
}
@media (max-width: 1024px) {
  .relatedWrap {
    padding: 30px 40px;
  }
  .rBlog {
    flex-wrap: wrap;
  }
  .blog {
    height: max-content;
  }
  .blogImg {
    height: 150px;
  }
}
@media (max-width: 961px) {
  .blog h4 {
    font-size: 14px;
  }
  .blog span {
    font-size: 12px;
  }
  .blogImg {
    height: 120px;
  }
}
@media (max-width: 641px) {
  .relatedWrap {
    padding: 30px 40px;
  }
  .blog {
    height: 220px;
  }
  .blogImg {
    height: 170px;
  }
  .blog h4 {
    font-size: 12px;
    line-height: 17px;
  }
  .blogWrap {
    display: grid;
    grid-template-columns: 48% 48%;

    gap: 15px;
  }
}

@media (max-width: 481px) {
  .relatedWrap {
    padding: 30px 20px !important;
  }
  .rBlog {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .blog {
    height: 200px;
  }
  .blogImg {
    height: 110px;
  }
}
