.maincontent {
  width: 1280px;
  justify-content: center;
  padding: 20px 60px;
}
.contentImg{
width: auto;
height: auto;


}
#dynamicDivPlaceholder {
  background-color: red;
  padding: 10px;
  border: 2px solid rgb(153, 22, 22);
}

.maincontent th{
  border: 1px solid #ccc;
  padding: 8px;
  background: #F0F1F0;
}
.maincontent tr {
  border: 1px solid #7D7D7D;
  background: #F6F5FB;
}
.maincontent tr :hover {
  border: 1px solid #7D7D7D;
  background: rgba(102, 89, 184, 0.15);
  cursor: pointer;
  border: none;

}
.maincontent a {
  color: #0070f3;
  cursor: pointer;
}
.maincontent ul {
  list-style: outside;
  margin-left: 25px;
}
.maincontent p {
  margin-left: 10px;
  margin-top: 16px;
}
.maincontent li {
  margin: 10px 0;
}
.content {
  display: grid;
  grid-template-columns: 24% 60% 23%;
  gap: 10px 50px;
}
.content h2 {
  font-size: 28px;
  margin: 10px 0;
  color: #4f419a;
}
.content h3 {
  font-size: 20px;
  margin: 10px 0;
  color: #0056b3;
}
.metaInfo {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.04);
  width: 100%;
  align-items: center;
  padding: 15px 0;
}
.metaInfo p {
  font-weight: 600;
  color: #4f419a;
  margin-top: 0;
}
.markdown {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.tableOfContents {
  /* position: sticky; */
  top: 20px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  padding: 10px;
  height: 300px;
  border-radius: 27px;
  border: 1px solid rgba(102, 89, 184, 0.50);
  background: rgba(102, 89, 184, 0.06);
  padding: 20px 14px;
top: 100px;
}
.tableOfContents h3 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6659B8;
}
.tableOfContents ul {
  list-style-type: circle;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.tableOfContents ul li {
  /* margin-bottom: 20px; */
  list-style-type: disc;
}
.tableOfContents ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}
.tableOfContents ul li a:hover {
  color: #0070f3;
}
.tableOfContents .icon {
  margin-left: 10px;
  color: #333;
  transition: color 0.3s ease;
}
.tableOfContents .icon.active {
  color: #0070f3;
}



/* Add this to your blogContent.module.css */
.stickyAds {
  position: -webkit-sticky;
  position: sticky;
  margin-bottom: 20px;
}

.adContainer {
  position: relative;
  padding: 10px;

  border-radius: 4px;

}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  padding: 2px;
}

.stickyAds img {
  display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    cursor: pointer;
    top: 85px;
  /* margin-top: 5px; */
}




.adLink {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
}

.adLink a {
  text-decoration: none;
  color: #0070f3;
  font-weight: 600;
  transition: color 0.3s ease;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;


}
.tableOfContents::-webkit-scrollbar {
  border-radius: 10px;
  /* background: #FFF; */
  right: 200px;
  position: absolute;

}

.tableOfContents::-webkit-scrollbar-thumb {
  border-radius: 10px;
background: #6659B8;
padding: 20px 0;
}

.tableOfContents::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #FFF;
  padding: 20px;
  margin: 40px;


}

.adLink a:hover {
  color: #0056b3;
}

/* Add top values for multiple sticky ads */
.stickyAds:first-of-type {
  top: 20px;
}

.stickyAds:nth-of-type(2) {
  top: 450px; /* Adjust this value as needed */
}

.stickyAds:nth-of-type(3) {
  top: 180px; /* Adjust this value as needed */
}

/* Add this to your blogContent.module.css */

.firstdiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: sticky;
  top: 20px; /* Adjust the top value based on your layout */
}

.tableOfContents {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  padding: 20px 14px;
  top: 80px;
  position: sticky;
}

.related {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: sticky;
  top: 390px; /* Adjust the top value based on your layout */
  /* overflow: scroll; */
}

.related h3 {
  color: #6659B8;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.bloglist{
  display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    border-radius: 20px;
background: #F0F0F0;
padding: 0px 10px 10px;


}
.bloglistryt{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  text-align: left;
}

.bloglistryt button{
  font-size: 10px;
  padding: 4px 10px;
  border-radius: 20px;
  float: right;
}
.bloglistryt p {
  font-size: 14px;
  font-weight: 600;
}
.swiperContainer {
  height: 400px; /* Adjust height as needed */
  overflow: hidden; /* Ensure content overflow is managed */
}


@media screen and (max-width: 480px) {
  .maincontent {
    width: 100%;
    padding: 20px;
    margin: auto;
  }
  .maincontent th {
    padding: 10px 50px;
  }
  .metaInfo {
    margin: 0;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .content h2 {
    font-size: 20px;
  }
  .tableOfContents {
    max-height: none;
    overflow-y: visible;
    height: auto;
    border-radius: 0;
    border: none;
    /* padding: 400px; */
    position: static;
    background: #e6e6ff;
    border-radius: 20px;

  }
  .tableOfContents h3 {
    text-align: left; /* Align heading to the left */
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    color: #6659B8;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .tableOfContents ul {
    list-style-type: disc;
    padding: 0 0 0 20px; /* Adjust padding for list items */
    display: block; /* Display list items as block */
  }
  .tableOfContents ul li {
    margin-bottom: 10px; /* Adjust margin for list items */
  }
  .tableOfContents ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
    display: block; /* Display links as block */
    padding: 5px 0; /* Adjust padding for links */
  }
  .tableOfContents ul li a:hover {
    color: #0070f3;
  }
  .firstdiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: 0;

  }
  .related{
    display: none;
  }
}
