/* Talk.module.css */

.talkHead {
  display: flex;
  justify-content: center;
  margin: 20px 160px;
}

.talkMain {
  position: relative;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 90px 80px;
  border-radius: 40px;
}

.backgroundImageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 15px;
  overflow: hidden;
}

.content {
  position: relative;
  color: white;
  display: grid;
  grid-template-columns: 50%;
}

.gotspan {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.teamh5 {
  color: #FFF;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 60px;
}

.para {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 30px;
  width: 260px;
}

.btn {
  display: flex;
  width: fit-content;
  border-radius: 41.5px;
  border: 2px solid #000;
  background: #FFF;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  padding: 11px 46px;
  box-shadow: 5px 5px 0px 0px #6659B8;
}

.icon {
  color: #6659B8;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .talkHead {
    margin: 50px 20px;
  }

  .talkMain {
    padding: 20px;
    border-radius: 15px;
    margin: 50px 20px;
  }

  .teamh5 {
    font-size: 16px;
  }

  .para {
    font-size: 12px;
    width: 260px;
  }

  .btn {
    font-size: 10px;
    padding: 9px 18px;
    border-radius: 20px;
    box-shadow: -4px 4px 0px 0px #6659B8;
  }

  .icon {
    font-size: 16px;
  }
}
/* Talk.module.css */

.talkHead {
  display: flex;
  justify-content: center;
  margin: 20px 160px;
}

.talkMain {
  position: relative;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 90px 80px;
  border-radius: 40px;
}

.backgroundImageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 15px;
  overflow: hidden;
}

.content {
  position: relative;
  color: white;
  display: grid;
  grid-template-columns: 100%;
}

.gotspan {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.teamh5 {
  color: #FFF;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 60px;
}

.para {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 30px;
  width: 260px;
}

.btn {
  display: flex;
  width: fit-content;
  border-radius: 41.5px;
  border: 2px solid #000;
  background: #FFF;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  padding: 11px 46px;
  box-shadow: 5px 5px 0px 0px #6659B8;
}

.icon {
  color: #6659B8;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .talkHead {
    margin: 50px 20px;
  }

  .talkMain {
    padding: 20px;
    border-radius: 15px;
    margin: 50px 20px;
  }

  .teamh5 {
    font-size: 16px;
  }

  .para {
    font-size: 12px;
    width: 240px;
  }

  .btn {
    font-size: 10px;
    padding: 9px 18px;
    border-radius: 20px;
    box-shadow: -4px 4px 0px 0px #6659B8;
  }

  .icon {
    font-size: 16px;
  }
}
