.wrap {
  position: fixed;
  bottom: 0;
  display: grid;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  width: 100%;
  z-index: 999;
  background: #f18350;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  border-radius: 30px 30px 0 0;
}

@media (min-width: 642px) {
  .wrap {
    display: none !important; /* Hide on larger screens */
  }
  .BottomPricebutton {
    display: block; /* Show a button instead */
  }
  .wrap button {
    width: 100%; /* Button width */
  }
}

@media (max-width: 361px) {
  .right button {
    padding: 5px 8px;
  }
  .wrap {
    padding: 0;
    gap: 0px;
    display: block;
  }
  .BottomPricebutton {
    width: 100%;
    background: #f18350;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    border-radius: 20px 20px 0 0;
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  .ofPr {
    font-size: 20px;
  }
}
.wrap {
  position: fixed;
  bottom: 0;
  display: grid;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  width: 100%;
  z-index: 999;
  background: #f18350;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  border-radius: 30px 30px 0 0;
}

@media (min-width: 642px) {
  .wrap {
    display: none !important; /* Hide on larger screens */
  }
  .BottomPricebutton {
    display: block; /* Show a button instead */
  }
  .wrap button {
    width: 100%; /* Button width */
  }
}

@media (max-width: 361px) {
  .right button {
    padding: 5px 8px;
  }
  .wrap {
    padding: 0;
    gap: 0px;
    display: block;
  }
  .BottomPricebutton {
    width: 100%;
    background: #f18350;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    border-radius: 20px 20px 0 0;
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  .ofPr {
    font-size: 20px;
  }
}
