.Blog {
  background-color: #212121;
  position: relative;
}

.blogHeader {
  display: grid;
  color: #fff;
  width: 100%;
  grid-template-columns: 50% 40%;
  height: auto;
  padding-top: 90px;
  align-items: center;
  justify-content: space-around;
  margin: 41px 60px;
  width: fit-content;
  padding-bottom: 110px;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.desktopImage {
  display: block;
}

.mobileImage {
  display: none;
}

.mumbai {
  position: absolute;
  top: 331px;
  left: 400px;
  z-index: 1;
}

.subtitle {
  color: #B8B8B8;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 127.182%;
}

.city {
  color: #F18350;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 127.182%;
}

.rytImg img {
  max-width: 100%;
  height: auto;
}

.titleAuthor {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 124px;
}

.titleAuthor h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.titleAuthor p {
  font-size: 16px;
  color: #fff;
}

.authordiv {
  display: flex;
  justify-content: center;
  width: fit-content;
  gap: 0px;
  align-items: center;
  font-size: 26px;
}

.authordiv svg {
  color: rgb(106, 189, 249);
}

.mobileBreak{
  display: none;
}

@media screen and (max-width: 480px) {
  .blogHeader {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 0;
    padding: 30px 10px;
    margin: 0;
    margin-top: 60px;
  }
  .subtitle {
    font-size: 40px;
  }
  .city {
    font-size: 30px;
  }
  .titleAuthor h1 {
    font-size: 28px;
  }
  .titleAuthor {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .desktopImage {
    display: none;
  }
  .mobileImage {
    display: block;
  }
  .mumbai {
    display: none;
  }
  .title {
    white-space: pre-line; /* This ensures that newlines are respected */
  }
  .mobileBreak{
    display:block;
  }
}
