.Wrapper {
  display: grid;
  padding-top: 50px;
  padding-bottom: 60px;
  grid-template-columns: 60% 40%;
  height: max-content;
}
.left {
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.p {
  border: 1px solid #000000;
  width: max-content;
  padding: 5px 10px;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
}
.surprise {
  font-size: 20px;
  color: #2b7aca;
  font-weight: bold;
}
.head {
  font-size: 31px;
  font-weight: 500;
  line-height: 37px;
  margin: 0;
  display: block;
  margin-top: 5px;
}
.darkH1 {
  font-size: 37px;
  font-weight: 400;
  margin: 0;
  color: white;
  letter-spacing: 3px;
  line-height: 48px;
  margin-top: 0px;
  font-weight: 700;
}
.ParaI {
  font-size: 20px;
  color: #fbbc05;
}
.darkP {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  color: white;
}

.head span {
  font-size: 40px;
  width: max-content;
  font-weight: 700;
}
.linkedin {
  width: max-content;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: #2b7aca;
  margin: 0;
}
.linkedin span {
  background-color: #0a66c2;
  padding: 0px 5px;
  font-size: 35px;
  border-radius: 5px;
  color: white;
}
.darkH1 span {
  font-size: 42px;
  display: flex;
  letter-spacing: 3px;
  color: black;
  border-radius: 4px;
  line-height: 48px;
  font-weight: 700;
}
.gIcon {
  margin-top: 7px;
  font-size: 30px;
}
.gSpan {
  background-color: white;
  padding: 0px 5px;
  margin-left: 10px;
}
.TrainerInfo {
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.TrainerInfo .right p {
  font-size: 20px;
  font-weight: 400px;
}
/* google g icon*/

/* google g icon end*/
.eIcon {
  color: black;
  font-size: 20px;
  margin-right: 10px;
}
.EventInfo,
.EventInfos {
  display: grid;
  grid-template-columns: 45% 5% 45%;
  gap: 10px;

  padding: 10px 0;
  width: max-content;
  border: 2px solid white;
  border-radius: 10px;
}
.EventInfo {
  margin-top: 25px;
  display: flex;
  height: 45px;
}
.profile {
  margin-top: 10px;
  margin-left: -5px;
}
.profile img {
  width: 100%;
  height: auto;
}
.middle {
  display: flex;
  align-items: center;
  justify-self: center;
}
.EventInfo .lefts,
.EventInfo .rights {
  display: flex;
  width: max-content;
  align-items: center;
  padding: 0px 10px;
  justify-content: center;

  margin-right: 0px;
}
.EventInfos {
  margin-top: 20px;
}
.EventInfos .lefts,
.EventInfos .rights {
  display: flex;
  justify-content: center;

  width: max-content;
  align-items: center;
  padding: 0px 10px;
}
.EventInfos .lefts {
  padding-right: 10px;
}
.line {
  border-right: 3px solid white;
  margin-top: 0px;
  height: 20px;
  margin-left: 15px;
}
.EventInfos .eIcon {
  color: white;
  font-size: 22px;
  margin-top: -5px;
}
.EventInfos p {
  color: white;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
.skewP {
  background-color: #4f419a;
  width: max-content;
  color: white;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin: 0;
  margin-bottom: 10px;

  transform: skewX(-20deg);
  padding: 5px 35px;
}
.EventInfo p {
  font-weight: 600;

  color: #000;
  font-size: 18px;
  margin: 0;
}
.img {
  margin-top: 20px;
}
.google {
  display: flex;
}
.ch {
  margin-right: 10px;
  color: #fbbc05;
  font-size: 57px;
  font-weight: 700;
}
.se {
  color: #4385f5;
  font-size: 57px;
  font-weight: 700;
}
.ar {
  color: #ea4335;
  font-size: 57px;
  font-weight: 700;
}

.en {
  color: #4285f5;
  font-size: 57px;
  font-weight: 700;
}
.gi {
  color: #34a853;
  font-size: 57px;
  font-weight: 700;
}
.ne {
  color: #ea4335;
  font-size: 57px;
  font-weight: 700;
}
@media (max-width: 1281px) {
  .darkH1,
  .head {
    font-size: 32px;
    line-height: 38px;
  }
  .darkH1 span,
  .head span {
    font-size: 34px;
  }
  .EventInfos p {
    margin: 0;
    font-size: 16px;
  }
  .EventInfos {
    margin-top: 20px;
  }
  .EventInfos .eIcon {
    font-size: 20px;
  }
  .ch {
    margin-right: 10px;
    color: #fbbc05;
    font-size: 47px;
    font-weight: 700;
  }
  .se {
    color: #4385f5;
    font-size: 47px;
    font-weight: 700;
  }
  .ar {
    color: #ea4335;
    font-size: 47px;
    font-weight: 700;
  }

  .en {
    color: #4285f5;
    font-size: 47px;
    font-weight: 700;
  }
  .gi {
    color: #34a853;
    font-size: 47px;
    font-weight: 700;
  }
  .ne {
    color: #ea4335;
    font-size: 47px;
    font-weight: 700;
  }
}
@media (max-width: 1025px) {
  .darkH1 {
    font-size: 27px;
    line-height: 40px;
  }
  .darkH1 span {
    font-size: 30px;
  }
  .EventInfos {
    display: flex;
    flex-flow: column;
  }
  .EventInfos p {
    font-size: 16px;
    margin: 10px;
  }
  .EventInfos .lefts {
    padding-right: 0px;
    border: 0;
  }
  .EventInfos .eIcon {
    font-size: 20px;
  }
}
/* @media (min-width: 1025px) {
  .head {
    margin-top: 0px;
  }
} */
@media (max-width: 481px) {
  .left {
    display: flex;
    flex-flow: column;
    width: 100%;
  }
  .gIcon {
    margin-top: 5px;
    font-size: 22px;
  }
  .head {
    font-size: 30px;
    margin-top: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .linkedin {
    width: 100%;
  }
  .skewP {
    padding: 5px 20px;
  }
  .darkH1 {
    font-size: 29px;
    margin-top: 0;
    line-height: 35px;
    display: flex;
    flex-flow: column;
    align-items: center;

    text-align: center;
  }
  .linkedin {
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    color: #2b7aca;
    margin: 0;
  }
  .darkP {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 14px;
  }
  .skewP {
    margin-bottom: 30px;
  }
  .head span {
    font-size: 32px;

    width: 100%;
    text-align: center;
  }
  .darkH1 span {
    font-size: 30px;
    display: flex;
    align-items: center;
    line-height: 35px;
    text-align: center;
  }
  .EventInfo {
    margin-top: -3px;
  }
  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .EventInfos {
    margin-top: 0;
    flex-flow: row;
    gap: 10px;
  }
  .Wrapper {
    padding-bottom: 200px;
    display: flex;
    padding-top: 10px;
  }
  .EventInfos .lefts,
  .EventInfos .rights,
  .EventInfo .lefts,
  .EventInfo .rights {
    padding: 0px;
    gap: 5px;
    flex-basis: 220px;
  }
  .darkP {
    gap: 5px;
  }
  .line {
    height: 20px;
    position: unset;
    margin-top: 5px;
    margin-left: -20px;
    margin-right: 10px;
    flex-basis: 10px;
  }
  .surprise {
    color: #f28705;
    font-size: 14px;
    font-weight: bold;
  }
  .EventInfo,
  .EventInfos {
    display: flex;
    margin-top: 10px;
    width: 100%;
    padding: 5px 0;
    justify-content: space-between;
  }
  .EventInfo p,
  .EventInfos p {
    font-size: 12px;
    line-height: 25px;
  }
  .EventInfos .eIcon {
    font-size: 18px;
    margin-right: 0px;
  }

  .p {
    margin-top: 5px;
    text-align: center;
  }
  .EventInfo .lefts {
    padding-right: 0px;
  }
  .EventInfos .lefts {
    gap: 5px;
    padding-right: 0px;
  }
  .eIcon {
    font-size: 22px;
  }
  .EventInfo .lefts,
  .EventInfo .rights {
    width: max-content;
    padding: 5px;
    margin-right: 10px;
  }
  .img {
    margin-top: 30px;
  }
  .google {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
