.App {
    display: flex;
    flex-flow: column;
    gap: 10px;
    width: 100%;
    height: 100%;
  }
  .formWrapper {
    margin-bottom: 10px;
    width: 80%;
    height: 100%;
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
    font-weight: 500;
  }
  
  .spanLabel {
    color: #ff3131 !important;
    font-size: 15px;
    font-weight: 500;
  }
  
  .button[disabled] {
    opacity: 0.5; /* Adjust opacity as needed */
    pointer-events: none; /* Disable pointer events when button is faded */
  }
  
  .formWrappers {
    margin-bottom: 10px;
    width: 80%;
    height: 100%;
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
    font-weight: 500;
  }
  .NameInput {
    border-radius: 2px;
    border: 0;
    width: 100%;
    border-bottom: 1px solid grey;
    /* border-bottom: 1px solid grey; */
    outline: none;
    background-color: rgba(255, 255, 255);
    height: 50px;
    color: #000;
  }
  .NameInputs {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #d3d3d3;
    outline: none;
    background-color: rgba(255, 255, 255);
    padding: 10px;
    color: #000;
  }
  .EmailInput {
    border-radius: 2px;
    border: 0;
    width: 100%;
    border-bottom: 1px solid grey;
    outline: none;
    background-color: rgba(255, 255, 255);
    height: 50px;
    color: #000;
  }
  .EmailInputs {
    padding: 0px;
    border: 0;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #d3d3d3;
    outline: none;
    background-color: rgba(255, 255, 255);
    padding: 10px;
    color: #000;
  }
  
  .PhoneInput {
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #d3d3d3;
    padding: 10px;
    color: #000;
  }
  
  .NameInput::placeholder,
  .NameInputs::placeholder,
  .EmailInput::placeholder,
  .EmailInputs::placeholder {
    color: #000;
    font-size: 14px;
  }
  .NameInput:active,
  .EmailInput:active {
    border: 2px solid white;
  }
  
  .Phone input,
  .Phones input {
    border: 0;
    width: 100%;
    outline: none;
    background-color: rgba(255, 255, 255);
    color: #000;
  }
  .Phone input::placeholder,
  .Phones input::placeholder {
    color: #000;
    font-size: 14px;
  }
  
  .formWrapper select {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #d3d3d3;
    outline: none;
    background-color: rgba(255, 255, 255);
    padding: 10px;
  }
  .formWrapper select option {
    width: 100%;
    border: 0;
  }
  .FormText {
    color: #b7b5b5;
    font-size: 8px;
    text-align: center;
    margin: 0;
  }
  .formWrapper select::placeholder {
    color: rgb(167, 167, 167);
    font-size: 12px;
  }
  
  .formWrappers select {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #d3d3d3;
    outline: none;
    background-color: rgba(255, 255, 255);
    padding: 10px;
    color: #000;
  }
  .formWrappers select::placeholder {
    color: rgb(167, 167, 167);
    font-size: 12px;
  }
  .formWrappers select option {
    width: 100%;
    border: 0;
  }
  .DateFormWrappers .date {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    color: rgb(167, 167, 167);
    font-size: 12px;
  }
  
  .date::-webkit-search-cancel-button,
  .date::-webkit-clear-button {
    -webkit-appearance: none;
    background-image: url("https://d32and0ii3b8oy.cloudfront.net/web/s3_main/date.png");
    color: #0d4a9b;
    cursor: pointer;
    height: 1.5rem;
    margin-right: 0;
    width: 1.5rem;
  }
  
  .date::-webkit-calendar-picker-indicator {
    color: #0d4a9b;
    opacity: 1;
    background-image: url("https://d32and0ii3b8oy.cloudfront.net/web/s3_main/date.png");
    width: 23px;
    height: 18px;
    cursor: pointer;
    margin-left: 0.5rem;
  }
  .DateFormWrappers .time {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    color: rgb(167, 167, 167);
    font-size: 12px;
  }
  
  .tme::-webkit-search-cancel-button,
  .time::-webkit-clear-button {
    -webkit-appearance: none;
    background-image: url("https://d32and0ii3b8oy.cloudfront.net/web/s3_main/time.png");
    color: #0d4a9b;
    cursor: pointer;
    height: 1.5rem;
    margin-right: 0;
    width: 1.5rem;
  }
  
  .time::-webkit-time-picker-indicator {
    color: #0d4a9b;
    opacity: 1;
    background-image: url("https://d32and0ii3b8oy.cloudfront.net/web/s3_main/time.png");
    width: 23px;
    height: 18px;
    cursor: pointer;
    margin-left: 0.5rem;
  }
  
  .button {
    padding: 10px 40px;
    display: flex;
    outline: none;
    background-color: #0072bc;
    color: white;
    border: 0;
    cursor: pointer;
    gap: 5px;
    border-radius: 4px;
    border: 1px solid #0072bc;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
  .buttonDiv {
    margin-top: 20px;
  }
  
  .App form {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
  }
  
  .DateFormWrappers {
    margin-bottom: 10px;
    width: 80%;
    height: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
  }
  .inner {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 100%;
    gap: 10px;
  }
  .date input {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    height: 50px;
    color: rgb(167, 167, 167);
    font-size: 16px;
  }
  .date input:focus-visible {
    outline: 1px solid #0487d9;
  }
  
  .alert {
    margin: 0;
    color: #2c9cd7 !important;
    font-size: 18px !important;
  }
  .bottomWrap {
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .bottomWrap .FormText {
    margin-top: 10px;
    width: 80%;
  }
  
  .errorMsg {
    color: #0072bc!important;
    font-size: 16px!important;
    margin-bottom: 10px!important;
  }
  
  @media (max-width: 800px) {
    .button {
      font-size: 15px;
    }
  
    .spanLabel {
      font-size: 20px !important;
    }
  }
  
  @media (min-width: 961px) and (max-width: 1281px) {
    .App button {
      font-size: 15px;
    }
  }
  