
.mainbox {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    margin: 36px 0;
    margin: 80px auto;
    align-items: center;
    justify-items: center;
    gap: 80px;
    width: 1200px;

}
.headus{
    margin: 70px 30px;
}
.headus h2 {
    display: flex;
    justify-content: center;
    color: #212121;

font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}
.headus span {
    color: #6659B8;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
margin-right: 16px;
}

.boxes {
    border-radius: 11.456px;
    background: #FFF;
    box-shadow: 3.273px 2.455px 27.74px 0px rgba(102, 89, 184, 0.42);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 199px;
    height: 200px;
    gap: 10px;
}





.maindownbox {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 20% 30% 30%;
    justify-content: center;
    align-items: center;
    gap: 70px;
    text-align: center;
    margin-top: 60px;
}

.boxes p {
    color: #212121;
text-align: center;
font-size: 16.549px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}

@media only screen and (max-width: 600px) {



    .headus  h2{
        font-size: 26px;
    }
    .headus span {
        font-size: 26px;
    margin-right: 6px;
    }
    .mainbox{
        display: grid;
        grid-template-columns: 40% 40%;
        gap: 32px;
        width: 100%;
    }
    .boxes {
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    .boxes p {
        font-size: 10px;
    }
    .boxes img {
        width: 50px;
        height: auto;
    }

    
}

@media only screen and (max-width: 361px) {
.mainbox{
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 32px;
}
.boxes {
    width: 100%;
    height: 100%;
    padding: 20px;
}
.boxes p {
    font-size: 10px;
}
.boxes img {
    width: 50px;
    height: auto;
}
.headus  h2{
    font-size: 19px;
}
.headus span {
    font-size: 19px;
margin-right: 6px;
}


}