.callWrap {
  width: max-content;
  scroll-behavior: smooth;
  font-size: 14px;

  height: 70px;
  padding: 0px 0px;
  display: flex;
  z-index: 999;
  bottom: 0;
  right: 20px;
  position: fixed;
  align-items: center;
  justify-content: space-between;
}
.callWrapBack {
  height: 60px;
  cursor: pointer;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  border-radius: 4px;
  background-color: white;
  padding: 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.call,
.whatsapp {
  font-size: 35px;
}
.call {
  color: black;
}
.whatsapp {
  color: green;
}
.show {
  display: flex;
  flex-flow: column;
  gap: 20px;
  position: relative;
  margin-bottom: 20px;
}
.callText,
.whatsText {
  position: absolute;
  left: -105px;
  background-color: black;
  border-radius: 4px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2px 5px;
}
.whatsText {
  bottom: 0;
}
.cross {
  color: #4f419a;
  font-size: 35px;
}
@media (max-width: 481px) {
  .callWrap {
    position: sticky;
    bottom: 70px;
    left: 80%;
    width: max-content;

    z-index: 999;
  }
  .callWrapBack {
    border-radius: 50%;
  }
}
